.idea/
*.iml
*.iws
*.ipr

.settings/
.classpath
.project

/target/
.mvn/wrapper/maven-wrapper.jar
pom.xml.versionsBackup

.gradle/
build/

*.class
*.log
log/
logs/
temp/
tmp/
application.properties
application.yml
application-*.properties
application-*.yml
uploads/
demo/uploads/

*/.bin
*/.obj
*/.vs